/* generals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.flex-container {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.debug {
  background-color: rgba(48, 130, 250, 0.3) ;
}
.container {
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
/* /generals */
/* header */
header {
  height: 80px;
  width: 100%;
}
header nav {
  display: none;
}
header ul li {
  margin-right: 10px;
  list-style: none;
}
/* /header */

/* app-store-section */
.app-store-section .row {
  text-align: center;
}
.app-store-section .col {
  min-height: 100px;
  width: 100%;
  border: 1px solid black;
  margin: 10px 0;
}
.app-store-section .phone-img {
  width: 150px;
  height: 200px;
}
.first.col {
  flex-direction: column;
}
.first-wrap, .second-wrap{
  flex-direction: column;
}
.app-left > h1, p, button {
  padding: 10px;
}
.app-right {
  width: 100%;
  justify-content: center;
  padding-top: 20px;
}
.icon {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
/* app-store-section */
/* strategic-plan-section */
.first.card-img {
  width: 100%;
  height: 400px;
}
.second.card-img {
  width: 100%;
  height: 250px;
}
.container.debug:last-child {
  text-align: center;
}
.strategic-planning-section .card {
  display: inline-block;
  padding: 20px;
}
/* /strategic-plan-section */
/* testimonials-section */
.testimonials-text {
  text-align: center;
}
.testimonial-card {
  margin: 15px 0;
  flex-direction: column;
}
.testimonial-img-box {
  width: 180px;
  height: 180px;
  /* border-radius: 100vw; */
}
.testimonial-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.testimonial-cit {
  text-align: center;
  line-height: 30px;
}
/* testimonials-section */
/* benefits-section */
.benefits-section .card {
  width: 100%;
  margin: 10px 0;
}
.benefits-section .card h2, 
.benefits-section .card h3, 
.benefits-section .card p {
  padding: 15px;
}
.benefits-section button {
  margin: 15px;
}
.benefits-card-container p {
  padding: 0;
  line-height: 30px;
}
/* benefits-section */




/* RESPONSIVE */



@media screen and (min-width: 768px) {

  /* header */

  header nav {
    display: block;
  }
  header .menu {
    display: none;
  }

  /* /header */

  /* app-store-section */

  .first.col {
    flex-direction: row;
  }
  .app-right {
    align-items: flex-end;
  }
  .first-wrap, .second-wrap {
    flex-direction: row;
    justify-content: space-between;
  }
  .app-store-section .first.col {
    width: 65%;
  }
  .app-store-section .second.col {
    width: 30%;
  }
  .second-wrap .col {
    width: 30%;
  }
  /* /app-store-section */
  /* strategic-plan-section */
  .strategic-planning-section .container {
    display: flex;
  }
  .strategic-planning-section .second-wrap {
    margin-top: 130px;
  }
  /* strategic-plan-section */
  /* testimonials-section */
  .testimonial-card {
    flex-direction: row;
  }
  .testimonial-img-box {
    width: 20%;
  }
  /* testimonials-section */
  /* benefits-section */
  .benefits-section .card {
    width: 49%;
  }
  /* benefits-section */
}
@media screen and (min-width: 1024px) {
  .container {
    width: 80%;
  }
  .benefits-section .card {
    width: 32%;
  }
}
/* RESPONSIVE */